language: node_js
node_js:
  - "0.12"
  - "0.11"
  - "0.10"
  - "0.8"

matrix:
  allow_failures:
    - node_js: "iojs"

env:
  - NODE_ENV=test

before_script:
  - psql -c 'create database sequelize_tools_test;' -U postgres
